.connectionn {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.site-work:last-child {
  margin-right: 0;
}

.img-work:last-child {
  margin-right: 0;
}

.team:last-child {
  margin-right: 0px;
}

.workes__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--background-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.product {
  position: relative;
  &-thumb {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 294px;
    background-color: var(--main-color);

    transform: translateY(100%);

    opacity: 1;
    &:hover {
      transform: translate(-100%);
    }
  }
}

.sections__block p {
  padding-left: 24px;
  padding-bottom: 20px;
}

.nav-social {
  display: flex;
}

.nav-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
