.сlients {
    margin-top: 60px;
    margin-bottom: 30px;
    
font-weight: 700;
font-size: 28px;
line-height: 33px;


text-align: center;
    

color: #212121;




  }

  .sponsor {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;
    
    margin-bottom: 50px;

    
    padding: 0;
    list-style: none;
    &__picture {
      fill: var(--svg-color);
    }

    
  }
  
  .sponsor__item {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 1px solid #afb1b8;
    border-radius: 4px;

    width: calc((100% - 4 * 15px ) / 2);
    margin: 15px;
    
    
    height: 92px;
    
    
    

    
  }


  
  .sponsor__item:hover {
    border: 1px solid var(--main-color);
  }
  
  .sponsor__picture:hover {
    fill: var(--main-color);
  }