.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-none {
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

*,
* ::before,
* ::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--body-color);
    color: var(--body-color);
    margin: 0;

    background-color: #ffffff;
}