:root {
  --main-color: #2196f3;
  --background-color: #212121;
  --link-color: #757575;
  --babackground-color-title: #2f303a;
  --page-color: #ffffff;
  --body-color: #f5f5f5;
  --svg-color: #afb1b8;
}

